<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	
	<targets>
		<target xsi:type="File" name="logtofile" fileName="${basedir}/logs/${level}_${shortdate}.log"/>
		<target xsi:type="File" name="logtoimportantfile" fileName="$important_{basedir}/logs/${level}_${shortdate}.log"/>
		<target xsi:type="Console" name="logtoconsole" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="logtofile" />
		<logger name="*" minlevel="Info" writeTo="logtoconsole" />
		<logger name="*" minlevel="Error" writeTo="logtoimportantfile" />
	</rules>
</nlog>